/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$page_color:      #333333;
$link_color:      #ffffff;
$tab_margin:      10px;
$nav_box_with:    938px;
$nav_dark_color:  #8d450a;
$nav_light_color: #efefef;

.grey  {color: grey;}
.green {color: green;}
.red   {color: red;}


body { 
  color: $page_color; 
  padding: 0;
  margin: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}
body {
  background-color: #f6e9da;
  font-size: 14px;
}

pre {}

a {
  text-decoration: none;
  color: $link_color;
}

img {border: 0;}


/*common style*/
.right        {float: right;}
.left         {float: left;}
.text-right   {text-align: right;}
.text-left    {text-align: left;}
.text-center  {text-align: center;}
.clearfix     {clear: both;}
.small        {font-size: 10px;}
.normal-font  {font-weight: normal;}
.hide         {display: none;}

/*page template*/
.header {
  background: url(/images/header_bg.png);
  .nav {
    width: $nav_box_with;
    height: 149px;
    margin: 0 auto;
    .logo {
      width: 185px;
      height: 149px;
      float: left;
    }
    .text {
      width: 710px;
      height: 149px;
      float: left;
      margin-left: 4px;
      position: relative;
      .appblog {
        margin-top: 54px;
        margin-left: 16px;
      }
      span.tabs_left {
        width: 25px;
        height: 33px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      span.tabs_right {
        width: 75px;
        height: 38px;
        position: absolute;
        right: 40px;
        bottom: 0;
      }
      .tabs {
        position: absolute;
        background: url(/images/tabs_bg.png) repeat-x bottom;
        bottom: 0px;
        left: 25px;
        width: 620px;
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            display: inline;
            float: left;
            margin-right: $tab_margin;
            padding-right: $tab_margin;
            background: url(/images/split.png) no-repeat right top;
            a {
              height: 33px;
              line-height: 33px;
              color: $nav_light_color;
              padding-left: $tab_margin;
              display: block;
              span {
                display: block;
                padding-right: $tab_margin;
                padding-top: 2px;
              }
            }
            a:hover {
              color: $nav_dark_color;
              background: url(/images/tab_link_hover_bg_left.png) no-repeat left top;
              span {
                background: url(/images/tab_link_hover_bg.png) no-repeat right top;
              }
            }
            a.on {
              position: relative;
              bottom: 0;
              z-index: 99;
              color: $nav_dark_color;
              margin-right: 10px;
              span.outer {
                position: relative;
                bottom: 0;
                height: 34px;
                background: url(/images/tab_link_on_bg_left.png) no-repeat left top;
                padding-left: 20px;
                padding-right: 0;
                padding-top: 0;
                z-index: 99;
              }
              span.inner {
                position: relative;
                bottom: 0;
                height: 34px;
                background: url(/images/tab_link_on_bg.png) no-repeat right top;
                padding-left: 0;
                padding-right: 20px;
                padding-top: 0;
                z-index: 99;
              }
            }
            a.on:hover {
              background: none;
            }
          }
          li.no-split {
            background: none;
            margin-right: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .sub_nav {
    height: 32px;
    background: url(/images/subnav_bg.png) repeat-x;
    position: relative;
    z-index: 0;
    .nav_box {
      width: $nav_box_with;
      margin: 0 auto;
    }
    span.split {
      width: 2px;
      height: 28px;
      background: url(/images/subnav_split.png) no-repeat center center;
    }
    a {
      font-size: 12px;
      color: $nav_dark_color;
      padding-left: 8px;
      line-height: 17px;
      height: 17px;
      span {
        padding-right: 8px;
      }
    }
    a:hover {
      color: $nav_light_color;
      background: url(/images/subnav_link_bg_hover.png) no-repeat left top;
      span {
        background: url(/images/subnav_link_bg_hover.png) no-repeat right top;
      }
    }
    .sub_nav_div {
      height: 28px;
      line-height: 28px;
    }
    .share {
      margin-left: 424px;
    }
  }
}

.main {
  background: url(/images/main_bg.png) repeat-x top;
  min-height: 900px;
}
.footer {
  height: 156px;
  background: url(/images/footer_bg.png) repeat-x top;
}
.layout {
  width: 928px;
  margin: 0 auto;
  padding-top: 4px;
  .content {
    width: 652px;
    float: left;
  }
  .sider {
    width: 272px;
    float: right;
  }
}

.app_item {
  border: 2px solid #e4d3be;
  border-radius: 4px;
  -moz-border-radius: 6px;
  margin-bottom: 2px;
  background-color: #ffffff;
  min-height: 200px;
}