/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$blue_color:    #0073EA;
$pink_color:    #FF0084;
$red_color:     #CC0000;
$dark_color:    #444444;
$page_color:    #dddddd;
$border_color:  #DDDDDD;
$link_color:    #DDDDDD;
$tab_margin:    10px;

.grey  {color: grey;}
.green {color: green;}
.red   {color: red;}


body { 
  color: $page_color; 
  padding: 0;
  margin: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}
body {
  background-color: #f6e9da;
}

pre {}

a {
  text-decoration: none;
  color: $link_color;
}

img {border: 0;}

h1,h2,h3 {
  color: $pink_color;
  a {
    color: $pink_color !important; 
    text-decoration: underline;
  }
}

/*common style*/
.fs-10        {font-size: 10px;}
.fs-12        {font-size: 12px;}
.fs-14        {font-size: 14px;}
.right        {float: right;}
.left         {float: left;}
.text-right   {text-align: right;}
.text-left    {text-align: left;}
.text-center  {text-align: center;}
.clearfix     {clear: both;}
.small        {font-size: 10px;}
.normal-font  {font-weight: normal;}
.hide         {display: none;}

/*page template*/
.header {
  background: url(/images/header_bg.png);
  .nav {
    width: 938px;
    height: 149px;
    margin: 0 auto;
    .logo {
      width: 185px;
      height: 149px;
      float: left;
    }
    .text {
      width: 734px;
      height: 149px;
      float: left;
      margin-left: 4px;
      position: relative;
      .appblog {
        margin-top: 54px;
        margin-left: 16px;
      }
      span.tabs_left {
        width: 25px;
        height: 33px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      span.tabs_right {
        width: 75px;
        height: 38px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .tabs {
        position: absolute;
        background: url(/images/tabs_bg.png) repeat-x bottom;
        bottom: 0px;
        left: 25px;
        width: 634px;
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            display: inline;
            float: left;
            margin-right: $tab_margin;
            padding-right: $tab_margin;
            background: url(/images/split.png) no-repeat right top;
            a {
              height: 33px;
              line-height: 33px;
              color: #efefef;
              padding-left: $tab_margin;
              display: block;
              z-index: 0;
              span {
                display: block;
                padding-right: $tab_margin;
                padding-top: 2px;
                z-index: 10;
              }
            }
            a:hover {
              color: #8d450a;
              background: url(/images/tab_link_hover_bg_left.png) no-repeat left top;
              span {
                background: url(/images/tab_link_hover_bg.png) no-repeat right top;
              }
            }
          }
          li.no-split {
            background: none;
            margin-right: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .sub_nav {
    height: 32px;
    background: url(/images/subnav_bg.png) repeat-x;
  }
}
