/*
* design by liwei
* railser.cn
* hi@liwei.me
*/
.grey {
  color: grey; }

.green {
  color: green; }

.red {
  color: red; }

body {
  color: #333333;
  padding: 0;
  margin: 0; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif; }

body {
  background-color: #f6e9da;
  font-size: 14px; }

a {
  text-decoration: none;
  color: white; }

img {
  border: 0; }

/*common style*/
.right {
  float: right; }

.left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.clearfix {
  clear: both; }

.small {
  font-size: 10px; }

.normal-font {
  font-weight: normal; }

.hide {
  display: none; }

/*page template*/
.header {
  background: url(/images/header_bg.png); }
  .header .nav {
    width: 938px;
    height: 149px;
    margin: 0 auto; }
    .header .nav .logo {
      width: 185px;
      height: 149px;
      float: left; }
    .header .nav .text {
      width: 710px;
      height: 149px;
      float: left;
      margin-left: 4px;
      position: relative; }
      .header .nav .text .appblog {
        margin-top: 54px;
        margin-left: 16px; }
      .header .nav .text span.tabs_left {
        width: 25px;
        height: 33px;
        position: absolute;
        left: 0;
        bottom: 0; }
      .header .nav .text span.tabs_right {
        width: 75px;
        height: 38px;
        position: absolute;
        right: 40px;
        bottom: 0; }
      .header .nav .text .tabs {
        position: absolute;
        background: url(/images/tabs_bg.png) repeat-x bottom;
        bottom: 0px;
        left: 25px;
        width: 620px; }
        .header .nav .text .tabs ul {
          padding: 0;
          margin: 0; }
          .header .nav .text .tabs ul li {
            list-style: none;
            display: inline;
            float: left;
            margin-right: 10px;
            padding-right: 10px;
            background: url(/images/split.png) no-repeat right top; }
            .header .nav .text .tabs ul li a {
              height: 33px;
              line-height: 33px;
              color: #efefef;
              padding-left: 10px;
              display: block; }
              .header .nav .text .tabs ul li a span {
                display: block;
                padding-right: 10px;
                padding-top: 2px; }
            .header .nav .text .tabs ul li a:hover {
              color: #8d450a;
              background: url(/images/tab_link_hover_bg_left.png) no-repeat left top; }
              .header .nav .text .tabs ul li a:hover span {
                background: url(/images/tab_link_hover_bg.png) no-repeat right top; }
            .header .nav .text .tabs ul li a.on {
              position: relative;
              bottom: 0;
              z-index: 99;
              color: #8d450a;
              margin-right: 10px; }
              .header .nav .text .tabs ul li a.on span.outer {
                position: relative;
                bottom: 0;
                height: 34px;
                background: url(/images/tab_link_on_bg_left.png) no-repeat left top;
                padding-left: 20px;
                padding-right: 0;
                padding-top: 0;
                z-index: 99; }
              .header .nav .text .tabs ul li a.on span.inner {
                position: relative;
                bottom: 0;
                height: 34px;
                background: url(/images/tab_link_on_bg.png) no-repeat right top;
                padding-left: 0;
                padding-right: 20px;
                padding-top: 0;
                z-index: 99; }
            .header .nav .text .tabs ul li a.on:hover {
              background: none; }
          .header .nav .text .tabs ul li.no-split {
            background: none;
            margin-right: 0;
            padding-right: 0; }
  .header .sub_nav {
    height: 32px;
    background: url(/images/subnav_bg.png) repeat-x;
    position: relative;
    z-index: 0; }
    .header .sub_nav .nav_box {
      width: 938px;
      margin: 0 auto; }
    .header .sub_nav span.split {
      width: 2px;
      height: 28px;
      background: url(/images/subnav_split.png) no-repeat center center; }
    .header .sub_nav a {
      font-size: 12px;
      color: #8d450a;
      padding-left: 8px;
      line-height: 17px;
      height: 17px; }
      .header .sub_nav a span {
        padding-right: 8px; }
    .header .sub_nav a:hover {
      color: #efefef;
      background: url(/images/subnav_link_bg_hover.png) no-repeat left top; }
      .header .sub_nav a:hover span {
        background: url(/images/subnav_link_bg_hover.png) no-repeat right top; }
    .header .sub_nav .sub_nav_div {
      height: 28px;
      line-height: 28px; }
    .header .sub_nav .share {
      margin-left: 424px; }

.main {
  background: url(/images/main_bg.png) repeat-x top;
  min-height: 900px; }

.footer {
  height: 156px;
  background: url(/images/footer_bg.png) repeat-x top; }

.layout {
  width: 928px;
  margin: 0 auto;
  padding-top: 4px; }
  .layout .content {
    width: 652px;
    float: left; }
  .layout .sider {
    width: 272px;
    float: right; }

.app_item {
  border: 2px solid #e4d3be;
  border-radius: 4px;
  -moz-border-radius: 6px;
  margin-bottom: 2px;
  padding: 14px;
  background-color: #ffffff;
  min-height: 200px; }
  .app_item .item_sider {
    width: 129px;
    float: left; }
    .app_item .item_sider .download_btn {
      margin-top: 8px; }
    .app_item .item_sider .info {
      margin-top: 8px; }
      .app_item .item_sider .info p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #767676; }
        .app_item .item_sider .info p span {
          width: 36px;
          overflow: hidden; }
  .app_item .item_content {
    width: 470px;
    float: right; }
