.content-box
  .content-header
  .content-layout
    .content-boddy
      .content-boddy-box
        .icon
          %span
          =image_tag(@app.icon.url)
        .desc
          .app-title
            .right
              Lifestyle
            = @app.title
            = link_to nbsp(4), @app.youtube_url, :title => "go youtube", :class => "youtube", :target => "_blank" if @app.has_youtube?
          .app-desc
            = simple_format(@app.desc)
        .clearfix
    .content-footer
      = link_to(image_tag("free_app_btn.png"), @app.itunes_url, :target => "_blank")
.content-line